@media only screen and (min-device-width: 992px) {
    .carousel-custom {
        padding-bottom: 11.25rem;
    }


}




.row>* {
    padding-left: 0px !important;
    padding-right: 0px !important;
}